/*------------------------------------*\
  #Defaults
\*------------------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: white;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    overflow-y: scroll;
}

body {
    font-family: $font-family;
    min-width: 32rem;
    color: $black;
    font-size: 1.4rem;
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}

/*------------------------------------*\
  #App
\*------------------------------------*/

.main-wrapper {
    display: flex;
    padding: 3rem 0rem;
}
