.about {
    max-width: 70rem;

    &__heading-1 {
        margin-bottom: 3rem;
        font-weight: 500;
    }

    &__paragraph {
        margin-bottom: 2rem;
    }

    &__paragraph--last {
        margin-bottom: 0rem;
    }
}
