.nav {
    height: 100%;

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        padding: 0.2rem 0.5rem;
        font-weight: 400;

        &:hover {
            background-color: $yellow;
        }
    }

    &__link-last {
        margin-bottom: 0rem;
    }
}

.link-title {
    padding-right: 1rem;
}

.router-link-exact-active {
    background-color: $yellow;
}
